@media (max-width:1360px) {

    #img-1{
        width: 32vw;
        margin-bottom: 18vh;
        margin-top: 8vh;
    }

    #img-1, #p-1{
        margin-left: 1vw;
    }

    #p-1{
        top: -18vh;" // - bottom
    }

    #img-2{
        width: 32vw;
        margin-bottom: 0vh;
        margin-top: 0vh;
    }

    #img-2, #p-2{
        margin-left: 6vw;
    }

    #p-2{
        top: -0vh;" // - bottom
    }


    #img-3{
        width: 43vw;
        margin-bottom: 10vh;
        margin-top: 22vh;
    }

    #img-3, #p-3{
        margin-left: 1vw;
    }

    #p-3{
        top: -10vh;" // - bottom
    }

    #img-4{
        width: 32vw;
        margin-bottom: 0vh;
        margin-top: 0vh;
    }

    #img-4, #p-4{
        margin-left: 1.5vw;
    }

    #p-4{
        top: -0vh;" // - bottom
    }
    #img-5{
        width: 35vw;
        margin-bottom: 18vh;
        margin-top: 8vh;
    }

    #img-5, #p-5{
        margin-left: 6vw;
    }

    #p-5{
        top: -18vh;" // - bottom
    }

    #img-6{
        width: 35vw;
        margin-bottom: 0vh;
        margin-top: 0vh;
    }

    #img-6, #p-6{
        margin-left: 6vw;
    }

    #p-6{
        top: -0vh;" // - bottom
    }


    #img-7{
        width: 35vw;
        margin-bottom: 18vh;
        margin-top: 8vh;
    }

    #img-7, #p-7{
        margin-left: 6vw;
    }

    #p-7{
        top: -18vh;" // - bottom
    }

    #img-8{
        width: 35vw;
        margin-bottom: 0vh;
        margin-top: 0vh;
    }

    #img-8, #p-8{
        margin-left: 6vw;
    }

    #p-8{
        top: -0vh;" // - bottom
    }
}