@font-face {  font-family: Baskerville;  font-weight: 100;  src: url('baskerville/BASKRV_L.woff');}
@font-face { font-family: Baskerville; font-style: italic; src: url('baskerville/Baskervville-Italic.ttf');}
@font-face {  font-family: Baskerville;  src: url('baskerville/Baskervville-Regular.ttf');}


html,
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-y:hidden;
    font-family: Baskerville, sans-serif;
    color: #2a2a2a;
}

h1, h2 {
    font-weight: normal;
    margin: 2px;
}

h1 {
    font-size: 2.2rem;
}

.content h1{
    padding-top: 20vh;
}

h2 {
    font-size: 1.1rem;
}

p {
    position: relative;
    font-size: 0.9rem;
    font-style: italic;
    text-align: left;
    margin-top: 1px;
}

.page-wrapper {
    display:flex; /* divy są jeden koło drugiego, bo domyślnie flex-direction tak wskazuje */
    width:100%;
    height:100%;
}

.image-container{
    height:100%;
    z-index:111;
}
.image-container .side-header{
    height:100%;
}

.content-container{
    height:100%;
    width: 100%;
}

.header{
    position:absolute;
    height:40px;
    width:100%;
    z-index:100;
    padding-top:10px;
    font-size:1rem;
}

.header .linkedin, .header .instagram{
    display:none;
}

.full-width-header{
    display: none;
}

/*.instagram{*/
/*    float: right;*/
/*    background: url(icons/logo-instagram.png);*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    margin-right:35px;*/
/*    margin-top: -3px;*/
/*}*/

.instagram, .linkedin{
    position:absolute;
    width:30px;
    height:27px;
    z-index: 112;
}

.instagram{
    background: url(icons/logo-instagram.png);
    margin: 18px 0px 0px 20px
}

.linkedin{
    background: url(icons/logo-linkedin.png);
    margin: 18px 0px 0px 60px
}

.icon {
    background-size: cover;
    border: none;
}

.header .contact{
    float: right;
    margin-right: 5vh;
    font-size: 1.5rem;
}

.contact-wrapper .contact{
    margin-right: 3vh;
}

.contact:hover {
    cursor: pointer;
}

.content {
    position:relative;
    top:0;
    left:0;
    height:100%;
    text-align: center;
    overflow-y:scroll;
}

.content .image-wrapper img{
    max-width:100%;
    max-height:100%;
}

.olsali-white{
    position: absolute;
    left: 8vh;
    height: 9vh;
    bottom: 7vh;
}

.contact-wrapper{
    overflowp-y: auto;
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background: white;
    z-index: 11111111;
    text-align: center;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.loader-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 11111111;
    text-align: center;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.olsali-collective{
    width: 500px;
}

.olsali-collective:hover {
    cursor: pointer;
}

.star{
    height: 5%;
}

.collective{
    position: absolute;
    bottom: 17vh;
    left: 0px;
    width: 100%;
    font-size: 1.3rem;

}

.number{
    font-weight: 100;
    font-size: 1.1rem;
    bottom:10vh;
}

.copyright{
    font-weight: 100;
    font-size: 0.8rem;
    bottom:-30px;
    padding-bottom: 10px;
}

hr {
    position: absolute;
    bottom: -10px;
    width: 30vw;
    text-align: center;
    left: 35vw;
    font-size: 1rem;
}

@media (max-width:1360px) {

    body {
        font-size:3vw;
    }

    p {
        font-size: 0.7rem;
    }

    .page-wrapper{
        flex-direction:column;
        overflow-y: scroll;
    }

    .header{
        z-index:112;
        background-color: rgba(255, 255, 255, 0.47);
    }

    .header .instagram, .header .linkedin{
        display:block;
        margin-top: -3px;
    }

    .side-header, .olsali-white{
        display: none;
    }

    .full-width-header{
        display: block;
    }

    .image-container .full-width-header{
        height:50vh;
    }

    img{
        width:100%;
        object-fit:cover;
        object-position: bottom;
    }

    .content{
        padding-top: 5vh;
        overflow-y: hidden;
        height:auto;
    }

    .content h1{
        padding-top: 0vh;
    }

    .content-container .linkedin, .content-container .instagram{
        display:none;
    }

}

@media (max-width:600px) {

    .header{
        font-size: 0.8rem;
    }

    .header .contact {
        margin-right: 4vh;
    }

    .image-container{
        height:250px;
    }

    .image-container .full-width-header {
        height: 30vh;
    }

    p {
        font-size: 0.5rem;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 0.8rem;
    }

}